﻿@model IEnumerable<MailumFalls.Models.FixedRateGS>

@{
    ViewBag.Title = "Good Shepherd Fixed Rates";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RateType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RateType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FixedRateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FixedRateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FixedRateID })
        </td>
    </tr>
}

</table>
