﻿@model MailumFalls.Models.Booking

@{
    ViewBag.Title = "Mailum Falls Bookings";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service_ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service_ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_CustomerID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_CustomerID1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service_ItemID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service_ItemID1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
