﻿@model MailumFalls.Models.FixedRate

@{
    ViewBag.Title = "Mailum Falls Fixed Rates";
}

<h2>Details</h2>

<div>
    <h4>FixedRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FixedRateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
