﻿@model MailumFalls.Models.BookingGS

@{
    ViewBag.Title = "Good Shepherd Bookings";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookingGS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service_ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service_ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_CustomerID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_CustomerID1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service_ItemID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service_ItemID1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
