﻿@model IEnumerable<MailumFalls.Models.Service>

@{
    ViewBag.Title = "Mailum Falls Services";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherCharges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixedRate_FixedRateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverrideRate_OverrideRateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos_PhotoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapacityType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherCharges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FixedRate_FixedRateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverrideRate_OverrideRateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photos_PhotoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
