﻿@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        @* END Search *@
        @* BEGIN Menu *@
        <br />
        
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Properties</li>
          
           
           
            <br />
            <br />
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Mailum</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("Index", "Bookings")">
                        <a href="@Url.Action("Index", "Bookings")"><i class="fa fa-link"></i> <span>Bookings</span></a>
                    </li>

                    <li class="@Url.IsLinkActive("Index", "Services")">
                        <a href="@Url.Action("Index", "Services")"><i class="fa fa-link"></i> <span>Services</span></a>
                    </li>


                    <li class="@Url.IsLinkActive("Index", "Photos")">
                        <a href="@Url.Action("Index", "Photos")"><i class="fa fa-link"></i> <span>Photos</span></a>
                    </li>

                    <li class="@Url.IsLinkActive("Index", "OverrideRates")">
                        <a href="@Url.Action("Index", "OverrideRates")"><i class="fa fa-link"></i> <span>Override Rates</span></a>
                    </li>

                    <li class="@Url.IsLinkActive("Index", "FixedRates")">
                        <a href="@Url.Action("Index", "FixedRates")"><i class="fa fa-link"></i> <span>Fixed Rates</span></a>
                    </li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Goodshepherd</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("Index", "BookingGS")">
                        <a href="@Url.Action("Index", "BookingGS")"><i class="fa fa-link"></i> <span>Bookings</span></a>
                    </li>

                    <li class="@Url.IsLinkActive("Index", "ServiceGS")">
                        <a href="@Url.Action("Index", "ServiceGS")"><i class="fa fa-link"></i> <span>Services</span></a>
                    </li>


                    <li class="@Url.IsLinkActive("Index", "PhotoGS")">
                        <a href="@Url.Action("Index", "PhotoGS")"><i class="fa fa-link"></i> <span>Photos</span></a>
                    </li>

                    <li class="@Url.IsLinkActive("Index", "OverrideRateGS")">
                        <a href="@Url.Action("Index", "OverrideRateGS")"><i class="fa fa-link"></i> <span>Override Rates</span></a>
                    </li>

                    <li class="@Url.IsLinkActive("Index", "FixedRateGS")">
                        <a href="@Url.Action("Index", "FixedRateGS")"><i class="fa fa-link"></i> <span>Fixed Rates</span></a>
                    </li>

                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>