﻿
@{
    Layout = "~/Views/Shared/Nohdr.cshtml";
    ViewBag.Title = "Availability";

}
<div class="container h-50">
    <div class="col-md-12 text-center">
        <h4 class="text-bold text-danger">Select Amenities To Be Included In This Package </h4>
    </div>
</div>
<section id="structure">
    <div class="container h-50">
        <div class="col-md-12 text-center">
            <h2 class="text-bold">Structure</h2>
        </div>
    </div>
    <div class="container">
        <div class="row rms">
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />

                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4 col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />

                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4 col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

        </div>
    </div>
</section>
<section id="accomodation">
    <div class="container h-50">
        <div class="col-md-12 text-center">
            <h2 class="text-bold">Accomodation</h2>
        </div>
    </div>
    <div class="container">
        <div class="row rms">
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />

                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4 col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

        </div>
    </div>
</section>

<section id="roomaccomodation">
    <div class="container h-50">
        <div class="col-md-12 text-center">
            <h2 class="text-bold">Room Accomodation</h2>
        </div>
    </div>
    <div class="container">
        <div class="row rms">
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />

                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4 col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />

                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4 col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

        </div>
    </div>
</section>

<section id="photoshoot">
    <div class="container h-50">
        <div class="col-md-12 text-center">
            <h2 class="text-bold">Photoshoot / Pre-Nup Pictorial</h2>
        </div>
    </div>
    <div class="container">
        <div class="row rms">
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>
            <div class="col-md-4  col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />

                <button class="btn-success text-bold">ADD</button>
            </div>

            <div class="col-md-4 col-sm-12 rmsi">
                <h4> Room Number</h4>
                <img src="~/Content/assets/img/2.jpg" />
                <div class="irms">
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem Ipsum</p>
                </div>
                <br /><br />
                <p class="text-center"> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                <br />
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <i class="fa fa-users "> 5 persons</i>
                    </div>
                </div><br /><br />
                <button class="btn-success text-bold">ADD</button>
            </div>

        </div>
    </div>
</section>