﻿@{
    ViewBag.Title = "Home Page";
}

<div class="homepage-hero-module">
	<div class="video-container">
		<div class="filter" style="height: 100%;"></div>
		<video autoplay loop class="fillWidth" muted>
			<source src="~/Content/assets/vid/MAILUM_AVP_2016_ver4.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
			<source src="~/Content/assets/vid/MAILUM_AVP_2016_ver4.webM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
		</video>
		<!--  <div class="poster hidden">
			 <img src="img/IMG_3853.jpg" alt="">
		 </div> -->
	</div>
</div>
<!--datepicker-->
<div id="quotecalc" class="quotecalc-homebg">
	<div class="container">
		<div id="myCarousel" class="carousel slide" data-interval="false" data-wrap="false">
			<!-- Left and right controls -->
			<a id="slideprev" class="left" href="#myCarousel" role="button" data-slide="prev" hidden>
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a id="slidenext" class="right" href="#myCarousel" data-slide="next" hidden>
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item servicetyp active">
					<div style="margin: 0 auto;max-width:238px;">
						<select id="selectservice" class="quoteselect ico-serv">
							<option value="0">Select Service</option>
							<option value="all">All</option>
							<option value="structure">Structure</option>
							<option value="room">Room</option>
						</select>
					</div>
				</div>

				<div class="item servicequote">
					<div class="col-lg-3 col-sm-3 col-xs-12">
						<input type="text" id="txCheckinDate" class="quoteselect ico-cal" readonly>
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-12">
						<input type="text" id="txCheckoutDate" class="quoteselect ico-cal" readonly>
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-12">
						<select id="selectcapacity" class="quoteselect ico-pax">
							<option value="0">Select capacity</option>
							<option value="1">1 Person</option>
							<option value="2">2 Persons</option>
							<option value="3">3 Persos</option>
						</select>
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-12">
						<div id="btncheckavailability" class="btn-checkavailability">
							<span class="fa fa-search"> SEARCH</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Tagline-->
<div class="container tagline-box mar-top-20">
	<div class="col-sm-4">
		<div>
			<img src="~/Content/assets/img/desk.jpg" class="img-responsive" />
			<div>
				<h3>Escape</h3>
				<p>
					In nec consequat mauris, sit amet congue magna. Sed et augue eget magna dapibus auctor nec ac tortor.
				</p>
				<a class="btn btn-default">View more...</a>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div>
			<img src="~/Content/assets/img/building.jpg" class="img-responsive" />
			<div>
				<h3>Explore</h3>
				<p>
					In nec consequat mauris, sit amet congue magna. Sed et augue eget magna dapibus auctor nec ac tortor.
				</p>
				<a class="btn btn-default">View more...</a>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div>
			<img src="~/Content/assets/img/loft.jpg" class="img-responsive" />
			<div>
				<h3>Experience</h3>
				<p>
					In nec consequat mauris, sit amet congue magna. Sed et augue eget magna dapibus auctor nec ac tortor.
				</p>
				<a class="btn btn-default">View more...</a>
			</div>
		</div>
	</div>
</div>

<!--Features-->
<div class="features-blue features-box mar-top-20">
	<br />
	<div class="container" style="background-color: rgba(13, 14, 14, 0.60);">
		<div class="intro">
			<h2 class="text-center">Features</h2>
			<p class="text-center">We all have this just for YOU!</p>
		</div>
		<div class="row features">
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-map-marker icon"></i>
				<h3 class="name">Lorem Ipsum</h3>
				<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-clock-o icon"></i>
				<h3 class="name">Lorem Ipsum</h3>
				<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-list-alt icon"></i>
				<h3 class="name">Lorem Ipsum</h3>
				<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-leaf icon"></i>
				<h3 class="name">Lorem Ipsum</h3>
				<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-plane icon"></i>
				<h3 class="name">Lorem Ipsum</h3>
				<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-phone icon"></i>
				<h3 class="name">Lorem Ipsum</h3>
				<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
			</div>
		</div>
	</div>
</div>
<!--Amenities-->
<div class="container">
	<div class="intro">
		<h2 class="text-center">Our Amenities </h2>
		<p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
	</div>
	<hr />
	<br>
	<div class="row projects">
		<div class="col-sm-6 col-lg-4 item">
			<img class="img-fluid img-responsive" src="~/Content/assets/img/desk.jpg">
			<h3 class="name">Room Name</h3>
			<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
		</div>
		<div class="col-sm-6 col-lg-4 item">
			<img class="img-fluid img-responsive" src="~/Content/assets/img/building.jpg">
			<h3 class="name">Room Name</h3>
			<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
		</div>
		<div class="col-sm-6 col-lg-4 item">
			<img class="img-fluid img-responsive" src="~/Content/assets/img/loft.jpg">
			<h3 class="name">Room Name</h3>
			<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
		</div>
	</div>
</div>

<!--Testimonials-->
<div class="container mar-top-50">
	<div class="intro">
		<h2 class="text-center">Testimonials </h2>
		<p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
	</div>
	<hr />
	<div class="people">
		<section class="slider" id="testimonials-slider">
			<div>
				<div class="well-trans-white slider-item">
					<div class="center-box">
						<h4>Person 1</h4>
						<p>
							Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.
						</p>
					</div>
				</div>
			</div>
			<div>
				<div class="well-trans-white slider-item">
					<div class="center-box">
						<h4>Person 2</h4>
						<p>
							Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<!--Partners-->
<div class="container mar-top-50">
	<div class="intro">
		<h2 class="text-center">Our Partners </h2>
	</div>
	<hr />
	<br>
	<div class="row">
		<div class="col-xs-3">
			<img src="~/Content/assets/img/apdc.png" class="img-responsive">
		</div>
		<div class="col-xs-3">
			<img src="~/Content/assets/img/Autoverde logo.png" class="img-responsive">
		</div>
		<div class="col-xs-3">
			<img src="~/Content/assets/img/Baywalk logo.png" class="img-responsive">
		</div>
		<div class="col-xs-3">
			<img src="~/Content/assets/img/good sheppered.png" class="img-responsive">
		</div>
	</div>
</div>

@section Scripts
{
	<script src="~/Scripts/custom/headervideo.js"></script>
	<script>
		$(document).ready(function () {
			$("#testimonials-slider").slick({
				vertical: true,
				slidesToShow: 1,
				slidesToScroll: 1,
				verticalSwiping: true,
				speed: 1000,
				autoplay: true,
				autoplaySpeed: 5000,
				cssEase: 'linear',
				prevArrow: false,
				nextArrow: false,
				dots: false,
			});
		});


		function downloadJSAtOnload() {
			var element = document.createElement("script");
			element.src = "Scripts/custom/homequote.js";
			document.body.appendChild(element);
		}

		// Check for browser support of event handling capability
		if (window.addEventListener)
			window.addEventListener("load", downloadJSAtOnload, false);
		else if (window.attachEvent)
			window.attachEvent("onload", downloadJSAtOnload);
		else window.onload = downloadJSAtOnload;
	</script>
}
