﻿@model MailumFalls.Models.ServiceGS

@{
    ViewBag.Title = "Good Shepherd Services";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceGS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapacityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapacityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherCharges)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.FixedRate_FixedRateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedRate_FixedRateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverrideRate_OverrideRateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverrideRate_OverrideRateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photos_PhotoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photos_PhotoID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
