﻿@model MailumFalls.Models.PhotoGS

@{
    ViewBag.Title = "Good Shepherd Photos";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhotoGS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
