﻿
@{
    ViewBag.Title = "Search";
}
<!--datepicker-->
<div id="quotecalc" class="quotecalc-searchbg search-qc">
	<div class="container">
		<div id="myCarousel" class="carousel slide" data-interval="false" data-wrap="false">
			<!-- Left and right controls -->
			<a id="slideprev" class="left" href="#myCarousel" role="button" data-slide="prev" hidden>
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a id="slidenext" class="right" href="#myCarousel" data-slide="next" hidden>
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item servicetyp active">
					<div style="margin: 0 auto;max-width:238px;">
						<select id="selectservice" class="quoteselect ico-serv">
							<option value="0">Select Service</option>
							<option value="all">All</option>
							<option value="structure">Structure</option>
							<option value="room">Room</option>
						</select>
					</div>
				</div>

				<div class="item servicequote">
					<div class="col-lg-3 col-sm-3 col-xs-12">
						<input type="text" id="txCheckinDate" class="quoteselect ico-cal" readonly>
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-12">
						<input type="text" id="txCheckoutDate" class="quoteselect ico-cal" readonly>
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-12">
						<select id="selectcapacity" class="quoteselect ico-pax">
							<option value="0">Select capacity</option>
							<option value="1">1 Person</option>
							<option value="2">2 Persons</option>
							<option value="3">3 Persos</option>
						</select>
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-12">
						<div id="btncheckavailability" class="btn-checkavailability">
							<span class="fa fa-search"> SEARCH</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="container mar-top-50" style="min-height: 300px;">
	<div id="resultloader" class="col-sm-12" style="text-align:center;">
		<img src="~/Content/slickCarousel/img/ajax-loader.gif" />
	</div>
	<div id="resultparam" style="display:none;">
		<div class="col-sm-3">
			<b>Service type:</b> <span id="paramTyp"></span>
		</div>
		<div class="col-sm-3">
			<b>Check-in date: </b> <span id="paramIn"></span>
		</div>
		<div class="col-sm-3">
			<b>Check-out date: </b> <span id="paramOut"></span>
		</div>
		<div class="col-sm-3">
			<b>People: </b> <span id="paramCap"></span>
		</div>
	</div>
	<br />
	<div id="resultbox" style="display:none;">
		<!--AJAX-->
		<!--<div class="col-sm-12 mar-top-20" style="background-color: #ddd;padding:10px;">
			<div class="col-sm-3">
				<img src="~/Content/assets/img/loft.jpg" class="img-responsive" />
			</div>
			<div class="col-sm-6">
				<h4>Room name</h4>
				<i style="color:#449d44">$ Price</i>
				<div class="row mar-top-50">
					<div class="col-sm-6">
						<a href="/Service/Rate/1">Inclusives</a>
					</div>
					<div class="col-sm-6">
						<a href="/Service/Details/1">Gallery</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3" style="height: 150px;text-align: center;height:150px;">
				<div style="position: relative;top: 50%;transform: translateY(-50%);">
					<a class="btn btn-success"> Book Now!</a>
				</div>
			</div>
		</div>-->
	</div>
</div>

@section Scripts
{
	<script src="~/Scripts/custom/geturlparam.js"></script>
	<script>
		function downloadJSAtOnload() {
			var element = document.createElement("script");
			element.src = "Scripts/custom/resultquote.js";
			document.body.appendChild(element);
		}

		// Check for browser support of event handling capability
		if (window.addEventListener)
			window.addEventListener("load", downloadJSAtOnload, false);
		else if (window.attachEvent)
			window.attachEvent("onload", downloadJSAtOnload);
		else window.onload = downloadJSAtOnload;
</script>
}
