﻿/*==========FONTS==========*/
@font-face {
    font-family: lobster;
    src: url(../fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: bangers;
    src: url(../fonts/Bangers-Regular.ttf);
}
@font-face {
    font-family: kaushan;
    src: url(../fonts/KaushanScript-Regular.ttf);
}
html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 500px;
}

.navbar, .navbar.navbar-default {
    height: 60px;
}

.navbar-collapse{
  background-color: #009688;
}


.brand-logo {
	padding-right: 15px;
	padding-left: 15px;
}

.brand-logo h3{
	color: #fff;
	margin-top: 16px;
	transition: ease-in-out 0.3s;
	-webkit-transition: ease-in-out 0.3s;
   padding-left: 15px;
    padding-right: 15px;
}

.brand-logo h3:hover{
	font-size: 25px;
}

/*==========BACK TO TOP==========*/
.back-to-top {
    position: fixed;
    bottom: 12em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
    border-radius: 5px 0px 0px 5px;
}
.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
    cursor: pointer;
}

/*==========FOOTER==========*/
.footer-wrapper{
	background: url(assets/img/noise.png);
	/*background: url(assets/img/mountain_bg.jpg);*/
}

.footer-distributed{
  /*background-color: #ddcdc2;*/
  background: #2c2d2f; /* Old browsers */

  box-shadow: 0px -1px 20px 2px rgba(37, 31, 31, 0.39);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

 /* padding: 55px 50px;*/
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #525252;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #6b6565;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #222122;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}



/*=============MARGINS=============*/
.mar-top-100{
  margin-top: 100px;
}

.mar-top-50{
  margin-top: 50px;
}

.mar-top-20{
  margin-top: 20px;
}

.pad-top-20{
  padding-top: 20px;
}


.pad-top-100{
  padding-top: 100px;
}





/*=============COVERR=============*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

  /*.no-video .video-container video,
  .touch .video-container video {
    display: none;
  }*/

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #249c8f;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    background: url(assets/img/noise2.png)
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
	width: 100%;
}





/*==========Quote cal==========*/
#quotecalc{
    position: relative;
	  margin: 0 auto;
    left: 0px;
    right: 0px;
    /*top: 83%;*/
    background-color: #108e80;
    margin-top: -120px;
    max-height: 100%;
}
.quotecalc-homebg{
	 background-image: url(assets/img/mountain_bg.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.quotecalc-searchbg{
	 background-image: url(assets/img/fall.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.search-qc {
   margin-top: 60px !important;
   padding-top: 50px;
   min-height: 200px;
}

#quotecalc > div{
    position: relative;
    /*top: -185px;*/
    z-index: 999;
    padding: 10px;
}


#quotecalc .servicetyp > div{
	background-color: rgba(255, 255, 255, 0.38);
	margin: 0 auto;
    max-width: 238px;
    padding: 10px;
    min-height: 100px;
}
#quotecalc .servicequote > div{
	background-color: rgba(255, 255, 255, 0.38);
	margin: 0 auto;
    padding: 10px;
    min-height: 100px;
}

#slideprev{
		position: absolute;
		top: 0px;
		left: -36px;
		padding: 4px 7px;
		background-color: rgba(255, 255, 255, 0.38);
		color: #fff;
}

.ico-drop{
    background: url(assets/img/icon/br_down.png) no-repeat right, linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
}
.ico-serv{
    background: url(assets/img/icon/mnu.png) no-repeat right, linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
}
.ico-cal{
    background: url(assets/img/icon/cal.png) no-repeat right, linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
}
.ico-pax{
    background: url(assets/img/icon/man.png) no-repeat right, linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
}

.quoteselect{
	padding: 10px;
    line-height: 1;
    border: 0;
    background-color: #ddd;
    -webkit-appearance: none;
    background-position-x: 95%;
    content: "\f0a9";
    width: 100%;
    min-height: 80px;
	outline-color: #fff;
	cursor:pointer;
	transition: ease-in-out 0.5s;
		-webkit-transition: ease-in-out 0.5s;
}

.quoteselect option{
	margin: 40px;
    background: #ddd;
    color: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	outline-color: #fff;
}

.quoteselect:hover,
.quoteselect:active,
.quoteselect:checked:after{
    outline-color: #fff;
}

.servicequote .btn-checkavailability{
	min-width: 100%;
    background-color: #249c8f;
    min-height: 80px;
    line-height: 80px;
	cursor:pointer;
	color: #fff;
	text-align:center;
	transition: ease-in-out 0.5s;
		-webkit-transition: ease-in-out 0.5s;
}
.servicequote .btn-checkavailability:hover{
    background-color: #2ebdae;
	color: #fff;
	font-size: 20px;
}
.btn-checkavailability span{
	padding:10px;
}

/*==========SEARCH===========*/
#paramTyp{
	text-transform:capitalize;
}
.parallax-result {
    /* The image used */
    background-image: url("assets/img/fall.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.btn-booknow{
    background-color: #2ebdae;
    color: #fff;
    font-size: 20px;
    border-radius: 0px;
}

.center-box{
	text-align:center;
}

.tagline-box > div{
	padding: 10px;
}

.tagline-box > div > div{
	box-shadow: 2px 2px 10px 2px #bdbdc5;
	cursor: pointer;
	padding-bottom: 10px;
}

.tagline-box > div > div > div{
	padding-left: 15px;
    padding-right: 15px;
}

.features-box{
	/* The image used */
    background-image: url(assets/img/falss-wide.jpg);

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.slider-item{
    background: url(assets/img/mountain_bg.jpg);
	padding: 20px;
	color: #fff;
	min-height: 155px;
}








/*==========MEDIA==========*/
@media (min-width:320px) {
    input,
    select,
    textarea {
        max-width: 100%;
    }

   
}

@media (min-width:768px) {
    input,
    select,
    textarea {
        max-width: 100%;
    }

    header{
        background-color: #1a5592;
        opacity: 0.9;
        top: 25px;
        width: 100%;
        height: 50px;
        vertical-align: middle;
        -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
    }

   
}

@media (min-width:992px) {
    
}

@media (min-width:800px) {

}

@media (max-width: 799px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}

@media (max-width:1024px) {
  
}

@media (max-width: 991px) {
  
}

@media (max-width: 767px)
{
    header{
       /* opacity: 1;*/
        top:0px;
    }
	.navbar-collapse {
		background-color: rgba(73, 167, 158, 0.88)
	}
	#slideprev{
		position: absolute;
		top: -39px;
		left: 0px;
		background-color: rgba(121, 126, 121, 0.68);
		padding: 4px 10px;
		color: #fff;
		border-radius: 3px;
	}
}

@media (max-width: 425px) {
 
}

@media (max-width: 375px) {
 
}

@media (max-width: 320px) {
  
}


@media (max-width: 1024px) and (min-width: 768px)
{
  .g-recaptcha{
    transform:scale(0.57);
    -webkit-transform:scale(0.57);
    transform-origin:0 0;
    -webkit-transform-origin:0 0; 
  }
}