﻿@model MailumFalls.Models.Photo

@{
    ViewBag.Title = "Mailum Falls Photos";
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhotoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
